<% if current_user.addresses.empty? %>
  <div data-controller="modal">
    <div role="alert" class="alert alert-vertical alert-warning alert-soft sm:alert-horizontal mb-8">
      <p class="text-sm text-balance">
        Adicione um endereço para começar
        <%= link_to 'Adicionar', new_address_path, class: "btn btn-warning btn-outline btn-xs ms-2" %>
      </p>
    </div>
  </div>
<% end %>
