<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="card">
      <div class="card-header">
        <h3 class="mb-0">
          <i class="fas fa-edit me-2"></i>Editar Comida
        </h3>
      </div>
      <div class="card-body">
        <%= render 'form', food: @food, submit_text: "Atualizar Comida", submit_class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>
